* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --col-green: #51823c;
    --col-lightgreen: #e9ffdf;
    --col-red: #d52323;
    --col-tan: #fff0d8;
    --col-white: #efefef;
    --col-gray: #404040;
    font-size: 18px;
}

body {
    color: var(--col-gray);
    background-color: var(--col-white);
}

.bg-tan {
    background-color: var(--col-tan);
}

/* Header */
header {
    border-bottom: 2px solid var(--col-red);
    padding: 20px;
}

.header-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait {
    flex: none;
    position: relative;
}

.portrait > img {
    border: 1px solid var(--col-red);
    box-shadow: 0 6px 10px var(--col-gray);
}

.portrait > h1 {
    padding: 10px 0;
    position: absolute;
    bottom: 20px;
    left: 1px;
    width: calc(100% - 2px);
    font-size: 2.8rem;
    text-align: center;
    background-color: #efefef80;
}

.about-me {
    display: flex;
    align-items: center;
    max-width: 600px;
}

.about-me > div {
    border: 1px solid var(--col-gray);
    border-left: 0;
    padding: 60px;
    box-shadow: 0 3px 5px var(--col-gray);
    background-color: var(--col-white);
}

@media (max-width: 1000px) {
    .header-flexbox {
        gap: 20px;
    }

    .portrait > h1 {
        font-size: 1.7rem;
    }

    .portrait > img {
        box-shadow: 0 3px 5px var(--col-gray);
    }

    .about-me > div {
        border-left: 1px solid var(--col-gray);
    }
}

@media (max-width: 700px) {
    .header-flexbox {
        flex-direction: column;
    }
}

/* Project grid area */
main > h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 2.8rem;
}
.project-grid {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    gap: 40px 20px;
}

.project-card {
    box-sizing: content-box;
    max-width: 500px;
    background-color: var(--col-lightgreen);
    border: 1px solid var(--col-green);
    box-shadow: 0 3px 5px var(--col-gray);
    color: #003000;
}

.pagepic {
    border-bottom: 1px solid var(--col-green);
}

.card-links {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.project-card h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-right: 50px;
}

.icon-link {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 5px;
    flex: none;
}

.icon-link:hover, .icon-link:focus {
    outline: 2px solid var(--col-green);
}

@media (max-width: 700px) {
    .project-grid {
        margin: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .project-card {
        max-width: 300px;
    }

    .project-card h2 {
        margin: 0;
        font-size: 1.3rem;
    }
}
